body{
  margin: 0;
  padding: 0;
}
header{
  top: 0;
  margin:0;
  background-color: beige;
  letter-spacing: 3px;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 10px;
}
fieldset {
  border: 1px solid #000;
}
.infield{
  letter-spacing: 5px;
}
input{
  padding: 5px;
  margin: 15px;
}
form {
  width: 100%;
  display: block;
}
button{
  background-color: grey;
  padding: 5px;
  float: right;
  font-size: 20px;
  border: none;
}
.additem{
  box-shadow: 2px 2px 10px;
  margin: 50px;
  padding: 50px;
  font-size: 1.5rem;
  background-color: beige;
}
thead, th, th>tr{
  background-color:rgb(58, 58, 52);
  border: 1px solid rgb(58, 58, 52);
}
table {
  width: 100%;
  border-collapse: collapse;
  counter-reset: rowNumber;
}

tbody tr {
  counter-increment: rowNumber;
}

tbody tr:nth-child(even){
  background-color: azure;
}
tbody td:first-child::before {
  padding: 20px;
  content: counter(rowNumber);
}
#table{
  box-shadow: 2px 2px 10px;
  margin: 50px;
  padding: 50px;
  font-size: 1.5rem;
  background-color: beige;
}